{% extends "admin/base_site.html" %}

{% block content %}
  <h1>Результаты проверки цен для заказа №{{ order.id }}</h1>
  
  <table>
    <thead>
      <tr>
        <th>Название товара</th>
        <th>Цена на сайте</th>
        <th>Цена поставщика</th>
        <th>Разница в цене</th>
        <th>Единица измерения</th>
        <th>Количество</th>
        <th>Поставщик</th>        
        <th>Статус</th>
        <th>Ссылка</th>
      </tr>
    </thead>
    <tbody>
      {% for check in price_checks %}
        <tr>
          <td>{{ check.name }}</td>
          <td>{{ check.current_cost }}</td>
          <td class="{% if check.new_cost < check.current_cost %}green{% else %}normal{% endif %}">{{ check.new_cost }}</td>
          <td>{{ check.difference_supplier_and_site }} %</td>
          <td>{{ check.unit }}</td>
          <td>{{ check.quantity }}</td>
          <td>{{ check.supplier }}</td>   
          <td>{{ check.status }}</td>
          <td><a href="{{ check.product_link }}">ссылка</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <h3>Себестоимость {{ total_sebestoimost }}</h3>
  <h3>Прибыль: {{ total_pribil }}</h3>
  <h3>Всего по счёту: {{ total_in_chet }}</h3>

  <a href="{% url 'admin:orders_order_changelist' %}" class="button">Вернуться к заказам</a>
  <a href="{% url 'orders:admin_order_detail' order_id=order.id %}" class="button">Счёт</a>
  
  <style>
    .green {
      background-color: green;
      color: white;  /* чтобы текст был читаем на зеленом фоне */
    }
  
    .normal {
      background-color: transparent;  /* обычный фон, если условие не выполнено */
    }
  </style>
{% endblock %}


