{% extends "admin/base_site.html" %}
{% load custom_filters %}

{% block title %}Счет на оплату №{{ order.id }}{% endblock %}

{% block content %}
  <div style="width: 700px; margin: 0 auto; padding: 20px; font-family: Arial, sans-serif;">
    <div style="margin-bottom: 20px; text-align: center;">
      <p>
          <strong style="font-size: 32px; font-weight: bold;">{{ seller_details.name }}</strong><br>
          <br>
          {{ seller_details.address }}<br>
          Р/с {{ seller_details.bank_check }} в {{ seller_details.bank }}, {{ seller_details.address_bank }}, код {{ seller_details.big_bank }}, УНП {{ seller_details.ynp }}<br>
          тел.: {{ seller_details.phone }}<br>
          email.: {{ seller_details.email }}<br>
      </p>
    </div>
    <div style="text-align: center; font-weight: bold; margin-top: 30px;">
      <h2>СЧЕТ НА ОПЛАТУ № {{ order.id }}</h2>
      <p>от {{ order.created|date:"d.m.Y" }}</p>
    </div>

    
    <div style="margin-bottom: 20px;">
      <strong>Покупатель:</strong> {{ order.contact_person }}<br>
      <strong>Телефон:</strong> {{ order.phone_number }}<br>
      <strong>Email:</strong> {{ order.email }}<br>
    </div>

    <table style="width: 100%; border-collapse: collapse;">
      <thead>
        <tr style="background-color: #f0f0f0;">
          <th>Наименование товара</th>
          <th>Цена</th>
          <th>Ед. изм.</th>
          <th>Кол-во</th>
          <th>Сумма </th>
          <th>Ставка НДС, %</th>
          <th>НДС</th>
          <th>Сумма с НДС</th>
        </tr>
      </thead>
      <tbody>
        {% for item in order.items.all %}
          <tr>
            <td>{{ item.product.name }}</td>
            <td>{% if shop_in_vat %}{{ item.product_data.what_shop.shop_in_VAT.base_price }}{% else %}{{ item.product_data.what_shop.shop_not_VAT.base_price }}{% endif %}</td>
            <td>{% if shop_in_vat %}{{ item.product_data.what_shop.shop_in_VAT.unit }}{% else %}{{ item.product_data.what_shop.shop_not_VAT.unit }}{% endif %}</td>
            <td>{% if shop_in_vat %}{{ item.product_data.what_shop.shop_in_VAT.quantity }}{% else %}{{ item.product_data.what_shop.shop_not_VAT.quantity }}{% endif %}</td>
            <td>{% if shop_in_vat %}{{ item.product_data.what_shop.shop_in_VAT.total }}{% else %}{{ item.product_data.what_shop.shop_not_VAT.total }}{% endif %}</td>
            <td>{% if shop_in_vat %}{{ item.product_data.what_shop.shop_in_VAT.vat_price }}{% else %}{{ item.product_data.what_shop.shop_not_VAT.vat_price }}{% endif %}</td>
            <td>{% if shop_in_vat %}{{ item.product_data.what_shop.shop_in_VAT.vat_in_price }}{% else %}{{ item.product_data.what_shop.shop_not_VAT.vat_in_price }}{% endif %}</td>
            <td>{% if shop_in_vat %}{{ item.product_data.what_shop.shop_in_VAT.sum_in_vat }}{% else %}{{ item.product_data.what_shop.shop_not_VAT.sum_in_vat }}{% endif %}</td>
          </tr>
        {% endfor %}
          <tr style="font-weight: bold;">
            <td>Итого</td>
            <td>x</td>
            <td>x</td>
            <td>x</td>
            <td>{{ total_summ_not_vat }}</td>
            <td>x</td>
            <td>{{ total_vat }}</td>
            <td>{{ total_sum_in_vat }}</td>
          </tr>       
      </tbody>
    </table>

    
    <div style="margin-top: 20px;">
        {% if seller_details.description and seller_details.description.chet_valid %}
            <strong>Счёт действителен:</strong> {{ seller_details.description.chet_valid }}
        {% else %}
            <strong>Счёт действителен: 1 день</strong> 
        {% endif %}
    </div>

    <div style="margin-top: 50px;">
      <table style="width: 100%;">
        <tr>
          <td style="width: 50%; text-align: center;">
            ______________________<br>
            Подпись и печать продавца
          </td>
          <td style="width: 50%; text-align: center;">
            ______________________<br>
            Подпись покупателя
          </td>
        </tr>
      </table>
    </div>

    <div class="no-print" style="text-align: right; margin-top: 20px;">
      <a href="#" onclick="window.print();" class="button">Скачать в PDF</a>
      <a href="{% url 'orders:check_prices' order_id=order.id %}" class="button">Проверить цены</a>
      <a href="{% url 'admin:orders_order_changelist' %}" class="button">Вернуться к заказам</a>    
    </div>
  </div>


  <style>
      /* Выровнять по центру все ячейки <td> внутри <tbody> */
    tbody td {
      text-align: center;
    }

    /* Оставить первую ячейку <td> выровненной по левому краю */
    tbody td:first-child {
      text-align: left;
    }
      /* Шрифты */
    @font-face {
        font-family: 'DejaVu Sans';
        src: url('/path/to/font/DejaVuSans.ttf') format('truetype');
    }
    body {
        font-family: 'DejaVu Sans', sans-serif;
    }

    /* Стили печати */
    @media print {
        /* Скрываем шапку админки, кнопку для печати и навигацию */
        #header, .no-print, .module, #user-tools, .breadcrumbs, .nav-sidebar {
            display: none !important;
        }
        /* Скрываем любые элементы навигации, если они есть */
        nav, aside, .navbar, .main-header, .sidebar {
            display: none !important;
        }
        /* Увеличиваем ширину основного содержимого */
        #content {
            margin: 0;
            width: 100%;
        }
    }
  </style>
{% endblock %}
