{% extends 'base.html' %}
{% load static %}

{% block content %}
    <form method="get">
        {% for characteristic in available_characteristics %}
            <input type="checkbox" name="characteristics" value="{{ characteristic.value }}">
            <label>{{ characteristic.value }}</label><br>
        {% endfor %}
        <button type="submit">Применить фильтр</button>
    </form>

    <ul>
        {% for product in products %}
            <li>{{ product.name }} - {{ product.price }}</li>
        {% endfor %}
    </ul>
{% endblock %}