{% extends 'base.html' %}
{% load static %}

{% block title %} {{ title }} {% endblock  %}

{% block content %}    

  <main>


    <div class="mb-4 pb-lg-3"></div>

    <section class="shop-main container d-flex">
      <div class="shop-sidebar side-sticky bg-body" id="shopFilter">
    <div class="aside-header d-flex d-lg-none align-items-center">
        <h3 class="text-uppercase fs-6 mb-0">Каталог</h3>
        <button class="btn-close-lg js-close-aside btn-close-aside ms-auto"></button>
    </div><!-- /.aside-header -->
    <div class="accordion" id="categoryAccordion">
      {% for cat in top_categories %}
          <div class="accordion-item">
              <h2 class="accordion-header" id="heading{{ cat.id }}">
                  <button 
                      class="accordion-button {% if cat.slug == current_slug or cat.id in ancestor_ids %}active-category{% endif %}" 
                      type="button" 
                      data-bs-toggle="collapse" 
                      data-bs-target="#collapse{{ cat.id }}" 
                      aria-expanded="{% if cat.slug == current_slug or cat.id in ancestor_ids %}true{% else %}false{% endif %}">
                      {% if cat.has_children %}
                          {{ cat.name }}
                      {% else %}
                          <a href="{% url 'products:category' cat.slug %}">{{ cat.name }}</a>
                      {% endif %}
                  </button>
              </h2>
              <div id="collapse{{ cat.id }}" 
                   class="accordion-collapse collapse {% if cat.slug == current_slug or cat.id in ancestor_ids %}show{% endif %}" 
                   aria-labelledby="heading{{ cat.id }}">
                  <div class="accordion-body">
                      {% include "products/category_recursive.html" with categories=cat.get_sorted_children current_slug=current_slug active_category_id=active_category_id ancestor_ids=ancestor_ids %}
                  </div>
              </div>
          </div>
      {% endfor %}
    </div>
  
  
  
    <div class="pt-2 pt-lg-0"></div>
       <!-- <div class="container_product">
            {% for category in top_categories %}
            <div class="box_product {% if category.id == active_category_id %}active{% endif %}" data-category-id="{{ category.id }}">
                <a href=""><div class="label_product" data-category-id="{{ category.id }}">{{ category.name }}</div></a>
                <div class="content_product" data-category-id="{{ category.id }}">
                    {% for child in category.children.all %}
                    <p>
                        <a href="{% url 'products:category' child.slug %}" class="menu-link py-1 {% if child.id == active_category_id %}active{% endif %}" data-category-id="{{ child.id }}">
                            {{ child.name }}
                        </a>
                    </p>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
       </div> -->
       
    </div>
       

      <div class="shop-list flex-grow-1">
        <div class="d-flex justify-content-between mb-4 pb-md-2">
          <div class="breadcrumb mb-0 d-none d-md-block flex-grow-1">            
            <a href="#" class="menu-link menu-link_us-s text-uppercase fw-medium" > Home{{ products.category.parent.name }}</a>
            <span class="breadcrumb-separator menu-link fw-medium ps-1 pe-1">/</span>
            <a href="#" class="menu-link menu-link_us-s text-uppercase fw-medium" > Category{{ products.category.name }}</a>            
          </div><!-- /.breadcrumb -->          
          <div class="shop-acs d-flex align-items-center justify-content-between justify-content-md-end flex-grow-1">
            <select class="shop-acs__select form-select w-auto border-0 py-0 order-1 order-md-0" aria-label="Sort Items" name="total-number">#}
              <option selected>Сортировка</option>
              <option value="1">Featured</option>
              <option value="2">Best selling</option>
              <option value="3">Alphabetically, A-Z</option>
              <option value="3">Alphabetically, Z-A</option>
              <option value="3">Price, low to high</option>
              <option value="3">Price, high to low</option>
              <option value="3">Date, old to new</option>
              <option value="3">Date, new to old</option>
            </select>         


            <div class="shop-asc__seprator mx-3 bg-light d-none d-md-block order-md-0"></div>

            <div class="col-size align-items-center order-1 d-none d-lg-flex">
              <span class="text-uppercase fw-medium me-2">Товаров на странице</span>
              <button class="btn-link fw-medium me-2 js-cols-size" data-target="products-grid" data-cols="2">2</button>
              <button class="btn-link fw-medium me-2 js-cols-size" data-target="products-grid" data-cols="3">3</button>
              <button class="btn-link fw-medium js-cols-size" data-target="products-grid"  data-cols="4">4</button>
            </div><!-- /.col-size -->

            <div class="shop-filter d-flex align-items-center order-0 order-md-3 d-lg-none">
              <button class="btn-link btn-link_f d-flex align-items-center ps-0 js-open-aside" data-aside="shopFilter">
                <svg class="d-inline-block align-middle me-2" width="14" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_filter" /></svg>
              <span class="text-uppercase fw-medium d-inline-block align-middle">Каталог</span>
              </button>
            </div><!-- /.col-size d-flex align-items-center ms-auto ms-md-3 -->
          </div><!-- /.shop-acs -->
        </div><!-- /.d-flex justify-content-between -->

        <div class="products-grid row row-cols-2 row-cols-md-3 row-cols-xl-4 row-cols-lg-4" id="products-grid" >
          {% for product in products  %}
          <div class="product-card-wrapper">
            <div class="product-card product-card_style9 border rounded-3 mb-3 mb-md-4 mb-xxl-5">
              <div class="position-relative pb-3">
                <div class="pc__img-wrapper pc__img-wrapper_wide3">
                  <a href="{{ product.get_absolute_url }}"><img loading="lazy" src="{{ product.image.url }}" width="256" height="201" alt="Cropped Faux leather Jacket" class="pc__img"></a>
                </div>
                <div class="anim_appear-bottom position-absolute w-100 text-center">
                  <button class="btn btn-round btn-hover-red border-0 text-uppercase me-2 js-add-cart js-add-cart-cust js-open-aside " data-aside="cartDrawer" title="Add To Cart" data-product-id="{{ product.id }}">
                    <svg class="d-inline-block" width="14" height="14" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_cart" /></svg>
                  </button>
                  <button class="btn btn-round btn-hover-red border-0 text-uppercase me-2 js-quick-view js-quick-view-cust " data-bs-toggle="modal" data-bs-target="#quickView" title="Quick view" data-product-id="{{ product.id }}" data-promotion-active="{{ product.is_promotion_active }}" >
                    <svg class="d-inline-block" width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg"><use href="#icon_view" /></svg>
                  </button>
                  <button class="btn btn-round btn-hover-red border-0 text-uppercase js-add-wishlist" title="Add To Wishlist">
                    <svg width="14" height="14" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_heart" /></svg>
                  </button>

                </div>
              </div>

              <div class="pc__info position-relative">
                <p class="pc__category">{{ product.category.name }}</p>
                <h6 class="pc__title"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h6>
                <div class="product-card__review d-sm-flex align-items-center">
                  <div class="reviews-group d-flex">
                    <svg class="review-star" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"><use href="#icon_star" /></svg>
                    <svg class="review-star" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"><use href="#icon_star" /></svg>
                    <svg class="review-star" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"><use href="#icon_star" /></svg>
                    <svg class="review-star" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"><use href="#icon_star" /></svg>
                    <svg class="review-star" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"><use href="#icon_star" /></svg>
                  </div>
                  <span class="reviews-note text-lowercase text-secondary ms-sm-1">321,975</span>
                </div>
                <div class="product-card__price d-flex">
                  {% if product.is_promotion_active %}
                    <span class="money price price-old fs-5">{{ product.price_with_markup_and_vat }}</span>
                    <span class="money price price-sale">{{ product.final_price }} BYN</span>
                  {% else %}
                    <span class="money price fs-5">  {{ product.final_price }} BYN</span>
                  {% endif %}
                </div>
              </div>
            {% if product.is_promotion_active %}
              <div class="pc-labels position-absolute top-0 start-0 w-100 d-flex justify-content-between">
                <div class="pc-labels__right ms-auto">
                  <span class="pc-label pc-label_sale d-block text-white">-{{product.promotion.discount_percentage|floatformat:0}}%</span>
                </div>
              </div>
            {% endif %}
            </div>
          </div>
          {% endfor %}
        </div><!-- /.products-grid row -->

        <nav class="shop-pages d-flex justify-content-between mt-3" aria-label="Page navigation">
          <!-- Ссылка на предыдущую страницу -->
          <a href="{% if products.has_previous %}
                      {% if selected_category %}
                          {% url 'products:paginator' category_slug=selected_category.slug page=products.previous_page_number %}
                      {% else %}
                          {% url 'products:all_products_paginator' page=products.previous_page_number %}
                      {% endif %}
                    {% else %}#{% endif %}" 
             class="btn-link d-inline-flex align-items-center">
              <svg class="me-1" width="7" height="11" viewBox="0 0 7 11" xmlns="http://www.w3.org/2000/svg"><use href="#icon_prev_sm" /></svg>
              <span class="fw-medium" {% if not products.has_previous %} disabled {% endif %}>Предыдущая</span>
          </a>
          
          <!-- Нумерация страниц -->
          <ul class="pagination mb-0">
              {% for page in products.paginator.page_range %}
                  {% if page <= 10 %}
                      {% if page == products.number %}
                          <li class="page-item active"><span> {{ page }}</span></li>
                      {% else %}
                          <li class="page-item">
                              {% if selected_category %}
                                  <a class="btn-link px-1 mx-2" href="{% url 'products:paginator' category_slug=selected_category.slug page=page %}">{{ page }}</a>
                              {% else %}
                                  <a class="btn-link px-1 mx-2" href="{% url 'products:all_products_paginator' page=page %}">{{ page }}</a>
                              {% endif %}
                          </li>
                      {% endif %}
                  {% endif %}
              {% endfor %}
              
              <!-- Последняя страница и многоточие для длинных списков страниц -->
              {% if products.paginator.num_pages > 10 %}
                  <li class="page-item"><span>...</span></li>
                  <li class="page-item">
                      {% if selected_category %}
                          <a class="btn-link px-1 mx-2" href="{% url 'products:paginator' category_slug=selected_category.slug page=products.paginator.num_pages %}">{{ products.paginator.num_pages }}</a>
                      {% else %}
                          <a class="btn-link px-1 mx-2" href="{% url 'products:all_products_paginator' page=products.paginator.num_pages %}">{{ products.paginator.num_pages }}</a>
                      {% endif %}
                  </li>
              {% endif %}
          </ul>
          
          <!-- Ссылка на следующую страницу -->
          <a href="{% if products.has_next %}
                      {% if selected_category %}
                          {% url 'products:paginator' category_slug=selected_category.slug page=products.next_page_number %}
                      {% else %}
                          {% url 'products:all_products_paginator' page=products.next_page_number %}
                      {% endif %}
                    {% else %}#{% endif %}" 
             class="btn-link d-inline-flex align-items-center">
              <span class="fw-medium me-1" {% if not products.has_next %} disabled {% endif %}>Следующая</span>
              <svg width="7" height="11" viewBox="0 0 7 11" xmlns="http://www.w3.org/2000/svg"><use href="#icon_next_sm" /></svg>
          </a>
      </nav>
      
      

      </div>
    </section><!-- /.shop-main container -->
  </main>

  <div class="mb-5 pb-xl-5"></div>

    
   
    
{% endblock %}
  
